*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  padding: 0;
}

.rectangle {
  background-color: cadetblue;
  width: 200px;
  transform: rotate(0);
  transition: all 300ms ease-in;
  height: 50px;
}

.active {
  transform: rotate(50deg);
}
