*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #1b1f26;
  /* Rectangle 435 */

  background: linear-gradient(
    270deg,
    #e60800 -5.74%,
    #ff33ff 98.64%,
    #ff33ff 98.64%
  );

  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  padding: 0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* old code */

/* .text {
  transform: scaleX(0);
  border: none;
  opacity: 0;
}

.field {
  transition: all 0.1s linear;
  transform-origin: top left;
  border-radius: 5px;
  opacity: 1;
}

.search {
  padding: 15px;
  border: 1px solid #fafafa;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  transform: scaleX(auto);

  border: 1px solid #ddd;
} */

/* new code */

.text {
  width: 50px;
  border: 0;
  height: 50px;
}

.search {
  background-color: ;
  position: absolute;
  transition: all 0.2s ease-in;
  top: 0;
  left: 0;
  border-radius: 2px;
  padding: 15px;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.active.field {
  width: 200px;
}

.animate {
  height: 50px;
  padding: 15px;
  font-size: 20px;
  border-radius: 2px;
  border: none;
  transition: all 0.2s ease-in;
}

.animate:focus {
  outline: none;
}

.animate.active ~ .search {
  transform: translateX(245px);
}
